*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    color: #A8DADC;
    font-weight: lighter;
}

body{

    text-align: center;
    background-color: #1D3557;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    width: 100%;
    height: 80vh;
    margin: 20px auto;
}

.info-info{
    display: flex;
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    color: #A8DADC;
}
.info-info a{
    color: #A8DADC;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;

}


img{
    width: 50px;
    height: 50px;
    margin: 10px 20px 20px 0;
}

h2{
    font-size: 27px;
    letter-spacing: 10px;
}

.info-div{
    max-width: 40rem;
    padding: 5px;
}

.info-div p{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
}

#play{
    width: 120px;
    height: 50px;
    border: none;
    background-color: #F1FAEE;
    color: #E63946;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0 0 0;
}

#play:hover{
    color: #F1FAEE;
    background-color: #E63946;


}


footer{
   font-size: 20px;
   font-weight: 500;
   margin-top: 5rem;
}

@media only screen and (max-width: 400px){

    .main{
        
        height: 90vh;
        margin: 0;
    }

    h2{
        font-size: 20px;
        letter-spacing: 20px;
    }
    
    .info-div{
        max-width: 40rem;
        padding: 5px;
    }
    
    .info-div p{
        font-size: 15px;
        margin: 10px;
    }
    
    #play{
        width: 100px;
        height: 40px;
        border: none;
        background-color: #F1FAEE;
        color: #E63946;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        margin: 10px 0 0 0;
    }
    


    
    footer{
        font-size: 15px;
        margin: 2rem;
    }

    
}